<form action="{{ path_for('forgottenPassword') }}" method="POST">
    <fieldset>
        <legend>Mot de passe oublié</legend>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, facilis doloribus ratione rem sint vel, ipsum placeat! Autem quibusdam temporibus, sit repellat fuga, nobis unde consequatur doloremque est illum enim.</p>
        <div class="grid-2 has-gutter">
            <div class="input text">
                <label for="e-mail">E-mail</label>
                <div class="wrap-input">
                    <input type="text" autofocus name="e-mail" id="e-mail" placeholder="Votre e-mail">
                </div>
            </div>
            <div class="input submit">
                <input type="submit" class="button evident" value="envoyer">
            </div>
        </div>
    </fieldset>
</form>
