<form id="formAddUser" action="{{ path_for('editUser') }}" method="post">
    <fieldset>
        <legend>S'inscrire</legend>
        <p class="note">Champs obligatoires</p>
        <div class="grid-2 has-gutter">
            <div class="input radio">
                <input type="radio" name="type" id="typePresenter" value="">
                <label for="typePresenter">Présentateur</label>
            </div>
            <div class="input radio">
                <input type="radio" checked name="type" id="typeParticipant" value="">
                <label for="typeParticipant">Participant</label>
            </div>
        </div>
        <div class="grid-2 has-gutter">
            <div class="input radio">
                <input type="radio" checked name="civilities" id="civMme" value="">
                <label for="civMme">Madame</label>
            </div>
            <div class="input radio">
                <input type="radio" name="civilities" id="civM" value="">
                <label for="civM">Monsieur</label>
            </div>
        </div>
        <div class="grid-2 has-gutter">
            <div class="input text">
                <label for="firstname">Prénom</label>
                <div class="wrap-input require">
                    <input type="text" placeholder="Prénom" maxlength="50" name="firstname" id="firstname" value="">
                </div>
            </div>
            <div class="input text">
                <label for="lastname">Nom</label>
                <div class="wrap-input focus require">
                    <input type="text" placeholder="Nom" autofocus maxlength="50" name="lastname" id="lastname" value="">
                </div>
            </div>
        </div>
        <div class="grid-2 has-gutter">
            <div class="input text">
                <label for="company">Société</label>
                <div class="wrap-input">
                    <input type="text" placeholder="Société" maxlength="50" name="company" id="company" value="">
                </div>
            </div>
            <div class="input text">
                <label for="occupation">Profession</label>
                <div class="wrap-input">
                    <input type="text" placeholder="Profession" maxlength="50" name="occupation" id="occupation" value="">
                </div>
            </div>
        </div>
        <div class="grid-2 has-gutter">
            <div class="input password">
                <label for="company">Mot de passe</label>
                <div class="wrap-input require">
                    <input type="password" placeholder="Mot de passe" maxlength="50" name="company" id="company" value="">
                </div>
            </div>
            <div class="input password">
                <label for="occupation">Confirmation</label>
                <div class="wrap-input require">
                    <input type="password" placeholder="Confirmation" maxlength="50" name="occupation" id="occupation" value="">
                </div>
            </div>
        </div>
        <div class="grid-2 has-gutter">
            <div class="input text">
                {# non je n'utilise pas type email pour eviter de récupérer la validation navigateur #}
                <label for="email">E-mail</label>
                <div class="wrap-input require">
                    <input type="text" placeholder="E-mail" name="email" id="email" value="">
                </div>
            </div>
            <div class="input submit">
                <input type="submit" name="register" class="button" value="s'inscrire">
            </div>
        </div>
    </fieldset>
</form>
