<form id="formAddUser" action="{{ path_for('editUser') }}" method="post">
    <fieldset>
        <legend>S'inscrire</legend>
        <div class="grid-2">
            <div class="input radio">
                <input type="radio" name="type" id="typePresenter" value="">
                <label for="typePresenter">Présentateur</label>
            </div>
            <div class="input radio">
                <input type="radio" name="type" id="typeParticipant" value="">
                <label for="typeParticipant">Participant</label>
            </div>
        </div>
        <div class="grid-2">
            <div class="input radio">
                <input type="radio" name="civilities" id="civMme" value="">
                <label for="civMme">Madame</label>
            </div>
            <div class="input radio">
                <input type="radio" name="civilities" id="civM" value="">
                <label for="civM">Monsieur</label>
            </div>
        </div>
        <div class="grid-2">
            <div class="input text">
                <label for="firstname">Prénom</label>
                <input type="text" maxlength="50" name="firstname" id="firstname" value="">
            </div>
            <div class="input text">
                <label for="lastname">Nom</label>
                <input type="text" maxlength="50" name="lastname" id="lastname" value="">
            </div>
        </div>
        <div class="grid-2">
            <div class="input text">
                <label for="company">Société</label>
                <input type="text" maxlength="50" name="company" id="company" value="">
            </div>
            <div class="input text">
                <label for="occupation">Profession</label>
                <input type="text" maxlength="50" name="occupation" id="occupation" value="">
            </div>
        </div>
        <div class="grid-2">
            <div class="input text">
                <label for="company">Mot de passe</label>
                <input type="text" maxlength="50" name="company" id="company" value="">
            </div>
            <div class="input text">
                <label for="occupation">Confirmation</label>
                <input type="text" maxlength="50" name="occupation" id="occupation" value="">
            </div>
        </div>
        <div class="grid-2">
            <div class="input text">
                {# non je n'utilise pas type email pour eviter de récupérer la validation navigateur #}
                <label for="email">E-mail</label>
                <input type="text" name="email" id="email" value="">
            </div>
            <div class="input submit">
                <input type="submit" name="register" value="s'inscrire">
            </div>
        </div>
    </fieldset>
</form>
