{% extends "layouts/main.twig" %}

{% block bodyId %}home{% endblock %}

{% block content %}
{% include 'elements/header-home.twig' %}
<main>
    <div><img src="/img/bg-home.jpg" alt="conférence"></div>
</main>
{% include 'elements/footer.twig' %}
{% endblock %}
