<header>
    <a href="{{path_for('home')}}" id="logo-confbox"><img src="/img/logo-confbox.svg" alt=""></a>
    <nav class="home">
        <ul>
            <li><a href="#" class="button">SE CONNECTER</a></li>
            <li><a href="#" class="button">CRÉER UN COMPTE</a></li>
        </ul>
    </nav>
    <a href="#" id="logo-creative"><img src="/img/logo-creative.svg" alt=""></a>
</header>
<nav class="home">
    <ul>
        <li><a href="#">SE CONNECTER</a></li>
        <li><a href="#">CRÉER UN COMPTE</a></li>
    </ul>
</nav>
