html{
    &.js{
        body{
            &#exemple-basique{
                form{
                    .grid-2{
                        justify-content: space-between;
                        > *{
                            width: 49%;
                        }
                    }

                    #wrapPhone{
                        transition: height $speed;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}
