{% extends "layouts/main.twig" %}

{% block bodyId %}forgottenPassword{% endblock %}
{% block metaTitle %}Mot de passe oublié{% endblock %}

{% block content %}
{% include 'elements/header-home.twig' %}
<main>
    {% include 'elements/layers/form-forgotten-password.twig' %}
</main>
{% include 'elements/footer.twig' %}
{% endblock %}